/*! fonts.scss | Vuero | Css ninja 2020-2024 */

:root {
  --font: 'Roboto Flex Variable', sans-serif;
  --font-alt: 'Montserrat Variable', sans-serif;
  --font-monospace: 'Fira Code Variable', monospace;
  --font-size: 14px;
}
